@page "/"

<div style="text-align: center;">
<h1>About</h1>
<p>This Git repository showcases some of my hobbie projects. The source code can be viewed <a href="https://github.com/StephenThompson/HobbyProjects">here</a>. </p>

<i>Please note, this webpage is still a work in progress and is best viewed on a standard HD monitor.</i>
</div>